[Desktop Entry]
Name=Miniball
Comment=Online multiplayer soccer game
Exec=miniball
Icon=com.lumarcgames.miniball
Terminal=false
Type=Application
Categories=Game;SportsGame;
Keywords=soccer;football;multiplayer;godot;
StartupNotify=true